node_modules
.next
.DS_Store
.env
update_git.sh
.vscode

docker-compose.override.yml

analysis/export/
analysis/pvt/*.csv
analysis/**/*.pdf
analysis/prism.pzfx
analysis/.ipynb_checkpoints

processing/backups/*.sql
processing/api/generated
processing/prisma/migrations/
processing/api_results*.json
processing/data_dump.sql
processing/legacy_data.json

study-edit/proxy_cached_content/html/
study-edit/prisma/generated
study-edit/prisma/migrations/

db_backups
legacy_data
/data/
.env